*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: #1A1A1A;
    padding: 30px;
    width: 400px;
    border: 1px solid #1A1A1A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#result{
    background-color: #1A1A1A;
    color: #ccc;
    width: 100%;
    padding: 8px;
    font-size: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-color: #1A1A1A;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin-top: 20px;
}

button{
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #ff9500;
}

.clear{
    background-color:#a2a2a2;
}

.number, .decimal{
    background-color: #505050;
    color: #fff;
}

.zero{
    grid-column: span 2;
    border-radius: 40px;
}

.operator{
    background-color: #ff9500;
    color: #fff;
    transition: background-color 0.3s ease;
}
.operator:hover, .equals:hover{
    background-color: #a2a2a2;
}

.plus-minus, .percentage{
    background-color: #a2a2a2;
    color: #000;
}

.plus-minus:hover, .percentage:hover{
    background-color: #ff9500;
}

.equals{
    background-color: #ff9500;
    color: #fff;
}
